$header-height: 60px;

$font-size: (
    "large": 28px,
    "medium": 16px,
    "small": 12px
);

$font-weight: (
    "regular": 400,
    "medium": 500, 
    "bold": 700
);

$spacing: (
    "large": 25px,
    "medium": 10px,
    "small": 5px
);  
